footer.footer
  .container.footer__content
    a(href="#!").footer__link
      img(src="images/play market.webp", alt="play market")
    a(href="#!").footer__link
      img(src="images/app store.webp", alt="app store")
    p.footer__text © PROWEB. В целях обучения 2020