*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $black;
}

.header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
  
  &__film{
    font-size: 40px;
    color: white;
    margin-right: 24px;
    &::before{
      content: '\f008';
    }
  }
  
  &__text{
    width: 170px;
    font-family: $com;
    line-height: 18px;
    color: white;
  }
}
