<!DOCTYPE html>
html(lang="en")
  include views/layout/head.pug
  body
    include views/layout/header.pug
    include views/layout/nav.pug
    include views/components/intro.pug
    include views/components/films.pug
    include views/components/video.pug
    include views/components/collections.pug
    include views/components/series.pug
    include views/layout/footer.pug
    
    script(src="scripts/common.min.js")